<html>
<head>
	<title>Sondrup Andrason</title>
	<script src="static/vendor/lightbox2/js/jquery-1.11.0.min.js"></script>

	<script src="static/js/masonry.pkgd.min.js"></script>
	<script src="static/js/imagesloaded.pkgd.min.js"></script>
	<script src="static/js/hello.all.min.js"></script>

	<!-- Bootstrap  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link href="static/vendor/material/css/ripples.min.css" rel="stylesheet">
    <link href="static/vendor/material/css/material-wfont.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

	<!-- Latest compiled and minified JavaScript -->



<!--
	<script src="static/vendor/lightbox2/js/lightbox.min.js"></script>
	<link href="static/vendor/lightbox2/css/lightbox.css" rel="stylesheet" />
-->

<!--
	<script src="static/vendor/rlightbox/jquery.lightbox.min.js"></script>
	<link href="static/vendor/rlightbox/jquery.lightbox.css" rel="stylesheet" />
	-->

	<link rel="stylesheet" href="static/vendor/swipebox/src/css/swipebox.css">
	<script src="static/vendor/swipebox/src/js/jquery.swipebox.min.js"></script>

	<style>
		.item { width: 300px; margin-bottom: 5px; position: relative;}
		.item.w2 { width: 600px; }
		.item .item-title {
			z-index: 5;
			position: absolute;
			bottom: 5px;
			left: 5px;
			background-color: #000000;
			opacity: 0.7;
			padding: 0px 10px 0px 10px;
			margin: 0;
			color: #ffffff;
			width: 290px;
			dborder-radius: 5px;
		}
		.item .item-title h4 {
			opacity: 1;
			font-size: 1em;
			font-weight: bold;
		}

		.item .item-edit {
			position: absolute;
			top: 5px;
			right: 5px;
			margin: 5px 5px 0 0;
			color: #bb0000;
		}

	</style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sondrup Andrason</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
			<li><a href="#" data-toggle="modal" data-target="#uploadDialog">Upload</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ .CurrentUser.Name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" onClick="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- <h1>Sondrup Andrason</h1> <a style="display: block; position: absolute; top: 15px; left: 400px" href="#" onClick="hello().logout()">logout</a> -->

<div class="container-fluid">
	<div id="photolist">
		{{ range $element := .Photos }}
	    <div class="item" data-media-id="{{ $element.ID }}">
	    	<a class="lightbox-link" data-lightbox="frontpage" href="{{ $element.Link }}">
	    	<img class="img-thumbnail" width="300" src="{{ $element.Link }}?t=large" title="{{ $element.Title }}"></a>
	    	{{ if $element.Title }}
	    	<div class="item-title"><h4>{{ nl2br $element.Title }}</h4></div>
	    	{{ end }}
	    </div>
		{{ end }}
	</div>

	      <hr>

      <footer>
        <p>&copy; Andri Óskarsson 2014 - Written in Go</p>
      </footer>
</div>

<!-- Upload Modal -->
<div class="modal fade" id="uploadDialog" tabindex="-1" role="dialog" aria-labelledby="uploadDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a new Photo</h4>
      </div>
      <form class="form-signin" method="post" action="./upload" enctype="multipart/form-data">
      <div class="modal-body">
        <fieldset>
            <input class="form-control" type="file" name="myfiles" id="myfiles" multiple="multiple">
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Upload Modal -->
<div class="modal fade" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="editDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Media</h4>
      </div>
      <div class="editForm" style="display: none;">
	      <form id="mediaEditForm" class="form-signin" method="post" action="#" enctype="multipart/form-data">
	      <div class="modal-body">
	      	<div class="form-group">
		      	<label class="control-label" for="mediaTitle">Title</label>
		      	<textarea name="mediaTitle" class="form-control" id="mediaTitle" rows=2></textarea>
		      	<span class="help-block">Media title is shown on thumbnails. May span multiple lines.</span>
	      	</div>
	      	<div class="form-group">

		      	<label class="control-label" for="mediaDate">Date</label>
	      		<input name="mediaDate" type="date" class="form-control" id="mediaDate">
	      		<span class="help-block">When did this happen? Date defaults to the time of upload.</span>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Edit</button>
	      </div>
	      </form>
	   </div>
	   <div class="modal-body load-animation">
	   		<img src="./static/img/ajax-loader.gif">
	   </div>
    </div>
  </div>
</div>

<script>

	function logout() {
		hello().logout();
		window.location.href =  './login';
	}


	var photos = document.querySelectorAll('#photolist .item');
	imagesLoaded( photos, function() {
		var container = document.querySelector('#photolist');
		var msnry = new Masonry( container, {
  			// options
	  		gutter: 5,
  			itemSelector: '.item',
		});
	});

	$( '#photolist .item a.lightbox-link' ).swipebox();

	$( '#photolist .item .item-edit a').click(function(e) {
		e.preventDefault();

		var self = this;
		var mediaId=$(self).closest('.item').attr('data-media-id');
		$('#mediaEditForm').attr('data-media-id', mediaId);

		var data = {
			'mediaId': mediaId
		}

		//console.log("detected media id: " + mediaId);

		$.get('./api/media', {'mediaId': mediaId}, function(resp) {
			$('#editDialog .editForm').show();
			$('#editDialog .load-animation').hide();
			//console.log(resp);
			if (resp.hasOwnProperty('Title')) $("#mediaTitle").val(resp['Title']);
			if (resp.hasOwnProperty('Created')) $("#mediaDate").attr('value', resp['Created']);

		});

		// TODO: Populate fields (date missing)


		$('#editDialog').modal('show');
	});

	$('#mediaEditForm').submit(function(e) {
		e.preventDefault();
		var self = this;
		var mediaId = $(this).attr('data-media-id');
		//console.log("media id", mediaId);

		var data = {
			'mediaId': mediaId,
			'mediaTitle': $('#mediaTitle', self).val(),
			'mediaDate': $('#mediaDate', self).val()
		}

		$.ajax({
			'type': "PUT",
			'cache': false,
			'url': "./api/media",
			'data': data,
			//'dataType': 'json',
			'success': function(resp, status) {
				//location.reload();
				var it = $('#photolist > .item[data-media-id="'+mediaId+'"');
				//$(it).css('border', '1px solid #bb0000');

				var ititle = $('.item-title h4', it);
				var titlemarkup = data.mediaTitle;
				titlemarkup = titlemarkup.replace(/(?:\r\n|\r|\n)/g, '<br />');
				if (ititle.length > 0) {
					$(ititle).html(titlemarkup);
				} else {
					$(it).append('<div class="item-title"><h4>'+titlemarkup+'</h4></div>')
				}

				$('#editDialog').modal('hide');
			}
		})

	});


</script>

</body>
</html>
