<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Upload Demo</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>File Upload Demo</h1>
      <div class="message">{{.}}</div>
      <form class="form-signin" method="post" action="./upload" enctype="multipart/form-data">
          <fieldset>
            <input type="file" name="myfiles" id="myfiles" multiple="multiple">
            <input type="submit" name="submit" value="Submit">
        </fieldset>
      </form>
    </div>
  </body>
</html>